<section th:fragment="nav">
	<nav class="navbar navbar-expand navbar-dark bg-dark"
		style="margin-bottom: 20px;">

		<div class="container-fluid">
			<a class="navbar-brand" href="#">Menu</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page" href="#">Inicio</a>
					<a class="nav-link" th:href="@{/listar}">Usuarios</a>
					<a class="nav-link" th:href="@{/listar}">Productos</a>
					<a class="nav-link" th:href="@{/listar}">sugerencias</a>

				</div>
			</div>
		</div>
	</nav>
</section>