@charset "UTF-8";

.carousel-inner img {
  width: 100%;
  height: 100%;
}


.menu-4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  .menu-4 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu-4 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
  }
  .menu-4 a {
    padding: 0.3em 0;
    color: #212121;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
  }
  .menu-4 a:before,
  .menu-4 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu-4 a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #e67e22;
  }
  .menu-4 a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #212121;
    white-space: nowrap;
  }
  .menu-4 li:hover a,
  .menu-4 .current a {
    transform: translateY(100%);
  }
  .carousel-inner{
    padding:75px;
  }


  body{
	  background:#1b1b2b;
	  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	  text-align:center;
	  font-family: 'Oswald', sans-serif;
	  font-size: 18px;
	  height: 100vh;
	}
	h1{
	  color:#212121;
	  font-weight:100;
	}
	
  .title{
    max-width: 1000px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 1.2em;
    color: #696767;
    padding-top: 5px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.6px;
    text-align:center;
}

.card-title{
  text-align:center;
}

.main_footer{
  background: #222;
  color: #fff;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.9em;
}
.column-3{
  width: 33%;
  padding: 10px;
}
.column_title{
  font-size: 1.2em;
  font-weight: bold;
}
.main_footer[class*="icon-"]{
  color:#fff;
  text-decoration: none;
  
  
}
.copy{
  text-align: center;
  margin: auto;
}

.container-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.ingreso_main{
  text-align: right;
  padding-left: 95%;
}