    <!DOCTYPE html>
    <html lang="es" xmlns:th="http://www.thymeleaf.org" >

    <head>
        <meta charset="UTF-8">
        <title>Mr Roller</title>
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/estilos.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    </head>

    <body>
        <nav class="menu-4">
            <ul class="menu-4">
                <h1>
                    <li><a href="#" data-hover="Admin">Administrador</a></li>
                </h1>
            </ul>
        </nav>
        <nav class="style-4">
            <ul class="menu-4">
                <li class="current"><a href="#" data-hover="Home">Inicio</a></li>
	            <li><a th:href="@{/administrador}" data-hover="Clients">Clientes</a></li>
	            <li><a th:href="@{/listarsugerencia}" data-hover="suggestions">Sugerencias</a></li>
	            <li><a href="#" data-hover="products">Productos</a></li>
	            <li><a href="#" data-hover="quotes">Cotizaciones</a></li>
            </ul>
        </nav>
        <!--clientes-->

        <div class="container mt-4">
            <div class="row-md-12">
                    <h2 class="text-primary"></h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Telefono</th>
                                <th>Fecha</th>
                                <th>Contraseña</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cliente:${clientes}">
                                <td th:text="${cliente.id}"></td>
                                <td th:text="${cliente.nombre}"></td>
                                <td th:text="${cliente.apellido}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td th:text="${cliente.telefono}"></td>
                                <td th:text="${cliente.fechanacimiento}"></td>
                                <td th:text="${cliente.contrasenia}"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        
    </body>
    </html>