<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>
	<section th:replace="fragments/menu :: nav"></section>

	<div class="container">
		<h2 class="text-primary" th:text="${titulo}"></h2>
		<form th:action="@{/form}" th:object="${cliente}" method="post">

			<div class="form-group row">

				<label class="col-sm-2 col-form-label">Nombre</label>

				<div class="col-sm-6">

					<input type="text" th:field="*{nombre}" class="form-control">

				</div>

			</div>

			<div class="form-group row">

				<label class="col-sm-2 col-form-label">Apellido</label>

				<div class="col-sm-6">

					<input type="text" th:field="*{apellido}" class="form-control">

				</div>

			</div>

			<div class="form-group row">

				<label class="col-sm-2 col-form-label">Email</label>

				<div class="col-sm-6">

					<input type="email" th:field="*{email}" class="form-control">

				</div>
				
				<div class="form-group row">

				<label class="col-sm-2 col-form-label">Telefono:</label>

				<div class="col-sm-6">

					<input type="number" th:field="*{telefono}" class="form-control">

				</div>

			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Fecha</label>
				<div class="col-sm-6">
					<input type="date" th:field="*{fechanacimiento}" class="form-control">
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Contraseña</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{contrasenia}" class="form-control">
				</div>
			</div>

			<div class="form-group row">

				<div class="col-sm-12">

					<input class="btn btn-primary" type="submit" value="Crear Cliente">

				</div>

			</div>

			<td><input type="hidden" th:field="*{id}"></td>

		</form>

	</div>

	<!-- CSS only -->
	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
</body>
</html>