<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MrRoller</title>
<link href='https://fonts.googleapis.com/css?family=Oswald:300'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>

<body>
	<div class="container">
		<div class="ingreso_main">
			<ul class="menu-4">
				<li><a th:href="@{/registrarse}" data-hover="Sign up">Registrase</a></li>
				<li><a th:href="@{/login}" data-hover="Login">Ingresar</a></li>
			</ul>
		</div>
	</div>
	<nav class="menu-4">
		<ul class="menu-4">
			<h1>
				<li><a href="#" data-hover="The Best">MR Roller</a></li>
			</h1>
		</ul>
	</nav>
	<nav class="style-4">
		<ul class="menu-4">
			<li class="current"><a th:href="@{/}" data-hover="Home">Inicio</a></li>
			<li><a href="#" data-hover="About Us">Sobre Nosotros</a></li>
			<li><a href="#" data-hover="Find Us">Encuentranos</a></li>
			<li><a href="#" data-hover="Gallery">Galeria</a></li>
			<li><a th:href="@{/productos}" data-hover="Products">Productos</a></li>
			<li><a href="#" data-hover="Contact">Contactenos</a></li>
		</ul>
	</nav>
	<div id="demo" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="images/cortina10.png" alt="Los Angeles" width="1100"
					height="500">
				<div class="carousel-caption">
					<h3>Barra de Acero</h3>
					<p>Elegancia y Clasico</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="images/cortina9.png" alt="Chicago" width="1100"
					height="500">
				<div class="carousel-caption">
					<h3>Chicago</h3>
					<p>Thank you, Chicago!</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="images/cortina8.png" alt="New York" width="1100"
					height="500">
				<div class="carousel-caption">
					<h3>New York</h3>
					<p>We love the Big Apple!</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#demo" data-slide="prev"> <span
			class="carousel-control-prev-icon"></span>
		</a> <a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
	<div class="container mt-4">
		<div class="title">
			<h3>POR QUÉ ELEGIRNOS?</h3>
			<span>Somos una pequeña empresa con una gran variedad de
				servicios para Oficinas, Hogares, Habitaciones, Departamentos, Show
				Room y Hoteles para mejorar visual y fisicamente tus nesecidades
				para tu vida. Las instalaciones que realizamos tenemos Cortinas
				modernas, Rollers Duo Zebra y Black Out, Estores Infantiles, Puertas
				de Ducha, Mámparas de Vidrios Templado, Alfombras, Drywall y Cielo
				Raso, etc.</span>
		</div>
		<div class="row mt-5">
			<div class="col-md-4">

				<div class="card" style="width: 300px">
					<img class="card-img-top" src="images/envio.png" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">Envio Gratuito</h4>
					</div>
				</div>

			</div>
			<div class="col-md-4">

				<div class="card" style="width: 300px">
					<img class="card-img-top" src="images/calidad.png" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">Servicio de calidad</h4>
					</div>
				</div>

			</div>
			<div class="col-md-4">

				<div class="card" style="width: 300px">
					<img class="card-img-top" src="images/peru.png" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">Producto Peruano</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container mt-4">
        <h1 align="left">Sugerencias</h1>
        <form th:action="@{/home}" class="formPr"  th:object="${sugerencia}" method="post">
            <div class="col-md-3">
                <h3>Nombre:</h3>
                <input type="text" th:field="*{nombre}">
            </div>
            <div class="col-md-3">
                <h3>Fecha:</h3>
                <input type="date" th:field="*{fecha}"  >
            </div>
            <div class="col-md-3">
                <h3>Descripcion:</h3>
                <textarea  cols="50" rows="4" th:field="*{descripcion}"  ></textarea>
            </div>
            <div class="col-md-3">
                <input type="submit" class="sugerenciabtn" value="Enviar">
            </div>
        </form>
    </div>
	
	
	

	<div class="main_footer mt-4">
		<div class="container container-flex">
			<div class="column column-3">
				<div class="column_title">Porqué elegirnos</div>
				<p>Somos una pequeña empresa con una gran variedad de servicios
					para Oficinas, Hogares, Habitaciones, Departamentos, Show Room y
					Hoteles para mejorar visual y fisicamente tus nesecidades para tu
					vida.</p>
			</div>
			<div class="column column-3">
				<div class="column_title">Contactanos</div>
				<p>Calle. Los Eucaliptos 121 - Surco,Lima</p>
				<p>913-372-789</p>
				<p>informes@mrroller.com</p>
			</div>
			<div class="column column-3">
				<div class="column_title">Siguenos en redes sociales</div>
				<p>
					<a href="" class="icon-facebook">Facebook</a>
				</p>
				<p>
					<a href="" class="icon-twitter">Twitter</a>
				</p>
				<p>
					<a href="" class="icon-youtube">Youtube</a>
				</p>
			</div>
			<p class="copy">&copy; 2022 MrRoller │ derechos reservados</p>
		</div>
	</div>
</body>

</html>