<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>
	
	<section th:replace="fragments/menu :: nav"></section>
		
	<div class="container">
		<h2 class="text-primary" th:text="${titulo}"></h2>
		<a class="btn btn-secondary" th:href="@{/form}">Crear Usuario</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Telefono</th>
					<th>Fecha</th>
					<th>Contraseña</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente:${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.telefono}"></td>
					<td th:text="${cliente.fechanacimiento}"></td>
					<td th:text="${cliente.contrasenia}"></td>
					<td>
                        <a class="btn btn-warning"
                        th:href="@{/form/}+${cliente.id}">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                        th:href="@{/eliminar/}+${cliente.id}">Eliminar</a>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
</body>
</html>