<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr Roller</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos1.css">
</head>
<body>
    <div class="container">
		<div class="ingreso_main">
			<ul class="menu-4">
				<li><a th:href="@{/registrarse}" data-hover="Sign up">Registrase</a></li>
				<li><a th:href="@{/login}" data-hover="Login">Ingresar</a></li>
			</ul>
		</div>
	</div>
	<nav class="menu-4">
		<ul class="menu-4">
			<h1>
				<li><a href="#" data-hover="The Best">MR Roller</a></li>
			</h1>
		</ul>
	</nav>
	<nav class="style-4">
		<ul class="menu-4">
			<li class="current"><a th:href="@{/}" data-hover="Home">Inicio</a></li>
			<li><a href="#" data-hover="About Us">Sobre Nosotros</a></li>
			<li><a href="#" data-hover="Find Us">Encuentranos</a></li>
			<li><a href="#" data-hover="Gallery">Galeria</a></li>
			<li><a th:href="@{/productos}" data-hover="Products">Productos</a></li>
			<li><a href="#" data-hover="Contact">Contactenos</a></li>
			<li><a href="#" data-hover="suggestions">Sugerencias</a></li>
		</ul>
	</nav>
    <div class="signupFrm">
        <form action="" class="form">
          <h1 class="title">Login</h1>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Email</label>
          </div>
    
          <div class="inputContainer">
            <input type="password" class="input" placeholder="a">
            <label for="" class="label">Contraseña</label>
          </div>
          <input type="submit" class="submitBtn" value="Ingresar">
        </form>
      </div>
    
</body>
</html>